[Unit]
Description=Plumber API

[Service]
ExecStart=/usr/bin/Rscript -e "pr <- plumber::plumb('/var/plumber$PATH$/plumber.R'); $PREFLIGHT$ pr$run(port=$PORT$, host='0.0.0.0')"
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
