@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=6xK1dSBYKcSV-LCoeQqfX1RYOo3qPa7j&skey=28c775fa366622c1&v=v22) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(font?kit=6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZY4lBdo&skey=1ddbb15c8706f8a1&v=v22) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=6xK3dSBYKcSV-LCoeQqfX1RYOo3aPA&skey=1e026b1c27170b9b&v=v22) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(font?kit=6xKydSBYKcSV-LCoeQqfX1RYOo3i54rAkw&skey=227a890402fab339&v=v22) format('woff');
}
